* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

span {
  margin: 0 0 0 5px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.top {
  position: fixed;
  top: 0;
}

.toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #ff4b4b;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 10px;
}

.title-wrapper:hover {
  cursor: pointer;
  background-color: rgba(255, 242, 0, 0.447);
  border-radius: 8px;
}

.site-logo {
  background-image: url("https://cdn-icons-png.flaticon.com/512/3183/3183468.png");
  background-size: cover;
  background-color: #fff;
  object-fit: 100%;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.site-title {
  display: flex;
  align-items: center;
  width: 55px;
  height: 50px;
}

.site-title span {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  width: 700px;
  height: 35px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
}

.search-bar:hover {
  background-color: #fff;
  cursor: pointer;
}

.search-bar .search-icon {
  margin: 0 0 0 5px;
  width: 1.5em;
}

.avatar-wrapper {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.avatar {
  background-image: url("https://storage.surfit.io/user/avatar/644861621.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.avatar:hover {
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  min-width: 240px;
  height: 100%;
  background-color: #eee;
}

.google-ad {
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.channel-info {
  position: fixed;
  top: 50px;
  left: 240px;
  width: 100%;
  height: 100px;
  background-color: #fad0d0;
}

.channel-info .name {
  background-color: #eee;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.channel-info .pin {
  background-color: #ff4b4b;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.chat-input-wrapper {
  position: fixed;
  bottom: 0;
  left: 240px;
  width: calc(100% - 240px);
  height: 150px;
  background-color: #ff4b4b;
  display: flex;
  justify-content: center;
}

.chat-input-form {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0 5% 0 5%;
  border-radius: 15px 15px;
  border: #aaa 1px solid;
}

.chat-input-form .toolbar-top {
  width: 100%;
  height: 40px;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #f3f3f3;
}

.chat-input-form .toolbar-bottom {
  width: 100%;
  height: 35px;
  background-color: #eee;
  border-radius: 0 0 15px 15px;
}

.chat-input-form .toolbar-top .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #ddd;
}

.icon-button:active {
  background-color: #bbb;
}

.bold {
  font-weight: bold;
}

.line-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.font-color {
  border: none;
  width: auto;
  height: auto;
  color: #f00;
}


.chat-input {
  width: calc(100%);
  border: none;
  outline: none;
  padding: 0 10px;
  resize: none;
  overflow-y: auto;
  min-height: 40px;
  margin-bottom: -5px;
  transition: max-height 1s ease;
  font-size: 1rem;
}

.channels {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 300px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #ff4b4ba0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4b4b;
}

.channels :nth-child(n) {
  margin: 5px 0;
}

.channels :last-child {
  margin-bottom: 15px;
}

.section {
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.new-channel {
  position: fixed;
  bottom: 0;
  width: 240px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4b4b;
}

.new-channel:hover {
  cursor: pointer;
  background-color: #db4040;
}

.chat-wrapper {
  background-color: rgb(255, 220, 220);
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  top: 150px;
  height: calc(100% - 300px);
  overflow-y: scroll;
}